# linear search

In [24]:
n = int(input())

6

In [12]:
li = [ int(x) for x in input().split()]

2 8 7 6 4 5

In [25]:
ele = int(input())

1

In [14]:
li

[2, 8, 7, 6, 4, 5]

In [26]:
is_found = False
for i in range(len(li)):
    if ele == li[i]:
        print(i)
        is_found = True
        break
if is_found is False:
    print(-1)

-1

# linear search through functions

In [28]:
def linear_search(li,ele):
    for i in range(len(li)):
        if ele == li[i]:
            return i
    
    return -1

li = [1,2,3,6,7,8]
index = linear_search(li,6)
print(index)

3

# reverse a list

In [30]:
def reverse_list(li):
    length = len(li)
    for i in range(length//2):
        li[i],li[length-i-1] = li[length-i-1],li[i]

li = [1,2,3,4,5,6]
reverse_list(li)
print(li)

[6, 5, 4, 3, 2, 1]

In [31]:
# using negative indexing 
def reverse_list(li):
    length = len(li)
    for i in range(length//2):
        li[i],li[-i-1] = li[-i-1],li[i]

li = [1,2,3,4,5,6]
reverse_list(li)
print(li)

[6, 5, 4, 3, 2, 1]

In [5]:
li = [1,2,3,4,5,6]

In [6]:
li

[1, 2, 3, 4, 5, 6]

In [11]:
li[3::-1]

[4, 3, 2, 1]

 Swap Alternate
Send Feedback
You have been given an array/list(ARR) of size N. You need to swap every pair of alternate elements in the array/list.
You don't need to print or return anything, just change in the input array itself.
Input Format :

The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.

Output Format :

For each test case, print the elements of the resulting array in a single row separated by a single space.

Output for every test case will be printed in a separate line.

Constraints :

1 <= t <= 10^2
0 <= N <= 10^5
Time Limit: 1sec

Sample Input 1:

1
6
9 3 6 12 4 32

Sample Output 1 :

3 9 12 6 32 4

Sample Input 2:

2
9
9 3 6 12 4 32 5 11 19
4
1 2 3 4

Sample Output 2 :

3 9 12 6 32 4 11 5 19 
2 1 4 3

In [50]:
def swap_alternate(n,li):
#     length = n
    for i in range(0,n-1,2):
        li[i],li[i+1] = li[i+1],li[i]

In [51]:
def print_list(n,li):
    for i in range(n):
        print(li[i], end=" ")
    print()

In [52]:
def take_input():
    n = int(input())
    
    if n == 0:
        return list(),0
    
    li = [int(x) for x in input().split()]
    return n,li

In [54]:
t = int(input())
while(t>0):
    n,li = take_input()
    if(n!=0):
        swap_alternate(n,li)
        print_list(n,li)
    t = t - 1

2
4
1 2 3 4
2 1 4 3
6
1 2 3 4 5 6
2 1 4 3 6 5

# find unique

 Find Unique

You have been given an integer array/list(ARR) of size N. Where N is equal to [2M + 1].
Now, in the given array/list, 'M' numbers are present twice and one number is present only once.
You need to find and return that number which is unique in the array/list.
 Note:

Unique element is always present in the array/list according to the given condition.

Input format :

The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.

Output Format :

For each test case, print the unique element present in the array.

Output for every test case will be printed in a separate line.

Constraints :

1 <= t <= 10^2
0 <= N <= 10^3
Time Limit: 1 sec

Sample Input 1:

1
7
2 3 1 6 3 6 2

Sample Output 1:

1

Sample Input 2:

2
5
2 4 7 2 7
9
1 3 1 3 6 6 7 10 7

Sample Output 2:

4
10

In [42]:
def find_unique(li,n):
    for i in range(n):
        j = 0
        while(j < n):
            if i != j:
                if li[i] == li[j]:
                    break
            j = j + 1
        if j == n:
            return li[i]
n = 7
li = [2,3,1,6,3,6,2]
ele = find_unique(li,n)
print(ele)

1

In [44]:
def find_unique(li,n):
    for i in range(n):
        for j in range(0,n):
            if i != j:
                if li[i] == li[j]:
                    break
#             j = j + 1
        if j == n:
            return li[i]
n = 7
li = [2,3,1,6,3,6,2]
ele = find_unique(li,n)
print(ele)

None

In [54]:
def unique(arr,n):
    ans=0
    for i in range(n):
        ans=ans^arr[i]
    print(ans)
    return ans

n = 7
li = [2,3,1,6,3,6,2]
find_unique(li,n)
# print(ele)

# find duplicate

 Find Duplicate

You have been given an integer array/list(ARR) of size N which contains numbers from 0 to (N - 2). Each number is present at least once. That is, if N = 5, the array/list constitutes values ranging from 0 to 3 and among these, there is a single integer value that is present twice. You need to find and return that duplicate number present in the array.
Note :

Duplicate number is always present in the given array/list.

Input format :

The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.

Output Format :

For each test case, print the duplicate element in the array/list.

Output for every test case will be printed in a separate line.

Constraints :

1 <= t <= 10^2
0 <= N <= 10^3
Time Limit: 1 sec

Sample Input 1:

1
9
0 7 2 5 4 7 1 3 6

Sample Output 1:

7

Sample Input 2:

2
5
0 2 1 3 1
7
0 3 1 5 4 3 2

Sample Output 2:

1
3

In [70]:
def find_duplicate(n,li):
    for i in range(n-1):
        for j in range(i+1,n):
            if li[i] == li[j]:
                return li[i]

In [71]:
n = int(input())
li = [int(x) for x in input().split()]
print(find_duplicate(n,li))

9
0 7 2 5 4 7 1 3 6
7

# array intersection

 Array Intersection

You have been given two integer arrays/list(ARR1 and ARR2) of size M and N, respectively. You need to print their intersection; An intersection for this problem can be defined when both the arrays/lists contain a particular value or to put it in other words, when there is a common value that exists in both the arrays/lists.
Note :

Input arrays/lists can contain duplicate elements.

The intersection elements printed would be in the order they appear in the first array/list(ARR1)


Input format :

The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the first array/list.

Second line contains 'N' single space separated integers representing the elements of the first the array/list.

Third line contains an integer 'M' representing the size of the second array/list.

Fourth line contains 'M' single space separated integers representing the elements of the second array/list.

Output format :

For each test case, print the intersection elements in a row, separated by a single space.

Output for every test case will be printed in a separate line.

Constraints :

1 <= t <= 10^2
0 <= N <= 10^5
0 <= M <= 10^5
Time Limit: 1 sec 

Sample Input 1 :

2
6
2 6 8 5 4 3
4
2 3 4 7 
2
10 10
1
10

Sample Output 1 :

2 4 3
10

Sample Input 2 :

1
4
2 6 1 2
5
1 2 3 4 2

Sample Output 2 :

2 1 2

Explanation for Sample Output 2 :

Since, both input arrays have two '2's, the intersection of the arrays also have two '2's. The first '2' of first array matches with the first '2' of the second array. Similarly, the second '2' of the first array matches with the second '2' if the second array.

In [91]:
def arr_intersection(size_1,arr1,size_2,arr2):
    for i in range(size_1):
        for j in range(size_2):
            if arr1[i] == arr2[j]:
                print(arr1[i], end = " ")
                arr2[j] = -math.inf
                break

In [92]:
import math

size_1 = int(input())
arr1 = [int(x) for x in input().split()]

size_2 = int(input()) 
arr2 = [int(x) for x in input().split()]

arr_intersection(size_1,arr1,size_2,arr2)

4
2 6 1 2
5
1 2 3 4 2
2 1 2

# pair sum

 Pair Sum

You have been given an integer array/list(ARR) and a number X. Find and return the total number of pairs in the array/list which sum to X.
Note:

Given array/list can contain duplicate elements. 

Input format :

The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the first array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.

Third line contains an integer 'X'.

Output format :

For each test case, print the total number of pairs present in the array/list.

Output for every test case will be printed in a separate line.

Constraints :

1 <= t <= 10^2
0 <= N <= 10^3
0 <= X <= 10^9
Time Limit: 1 sec

Sample Input 1:

1
9
1 3 6 2 5 4 3 2 4
7

Sample Output 1:

7

Sample Input 2:

2
9
1 3 6 2 5 4 3 2 4
12
6
2 8 10 5 -2 5
10

Sample Output 2:

0
2


 Explanation for Input 2:

Since there doesn't exist any pair with sum equal to 12 for the first query, we print 0.

For the second query, we have 2 pairs in total that sum up to 10. They are, (2, 8) and (5, 5).

In [18]:
def pair_sum(size,arr,sum):
    num_pair = 0
    for i in range(size-1):
        for j in range(i+1,size):
            if(arr[i]+arr[j]==sum):
                num_pair = num_pair + 1
    return num_pair
#                 print(arr[i]," ",arr[j])

In [19]:
size = int(input())
arr = [int(x) for x in input().split()]
sum = int(input())
print(pair_sum(size,arr,sum))

9
1 3 6 2 5 4 3 2 4
7
7

# triplet sum

 Triplet Sum

You have been given a random integer array/list(ARR) and a number X. Find and return the number of triplets in the array/list which sum to X.
Note :

Given array/list can contain duplicate elements.

Input format :

The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the first array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.

Third line contains an integer 'X'.

Output format :

For each test case, print the total number of triplets present in the array/list.

Output for every test case will be printed in a separate line.

Constraints :

1 <= t <= 50
0 <= N <= 10^2
0 <= X <= 10^9
Time Limit: 1 sec

Sample Input 1:

1
7
1 2 3 4 5 6 7 
12

Sample Output 1:

5

Sample Input 2:

2
7
1 2 3 4 5 6 7 
19
9
2 -5 8 -6 0 5 10 11 -3
10

Sample Output 2:

0
5


 Explanation for Input 2:

Since there doesn't exist any triplet with sum equal to 19 for the first query, we print 0.

For the second query, we have 5 triplets in total that sum up to 10. They are, (2, 8, 0), (2, 11, -3), (-5, 5, 10), (8, 5, -3) and (-6, 5, 11)

In [28]:
def triplet_sum(size,arr,sum):
    num_triplets = 0
    for i in range(size):
        for j in range(i+1,size):
            for z in range(j+1,size):
                
                if(arr[i]+arr[j]+arr[z] == sum):
                    num_triplets = num_triplets + 1
    return num_triplets
#                     print(arr[i]," ",arr[j], " ",arr[z])

In [29]:
size = int(input())
arr = [int(x) for x in input().split()]
sum = int(input())
print(triplet_sum(size,arr,sum))

7
1 2 3 4 5 6 7
12
5

# sort 0 1

 Sort 0 1

You have been given an integer array/list(ARR) of size N that contains only integers, 0 and 1. Write a function to sort this array/list. Think of a solution which scans the array/list only once and don't require use of an extra array/list.
Note:

You need to change in the given array/list itself. Hence, no need to return or print anything. 

Input format :

The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers(all 0s and 1s) representing the elements in the array/list.

Output format :

For each test case, print the sorted array/list elements in a row separated by a single space.

Output for every test case will be printed in a separate line.

Constraints :

1 <= t <= 10^2
0 <= N <= 10^5
Time Limit: 1 sec

Sample Input 1:

1
7
0 1 1 0 1 0 1

Sample Output 1:

0 0 0 1 1 1 1

Sample Input 2:

2
8
1 0 1 1 0 1 0 1
5
0 1 0 1 0

Sample Output 2:

0 0 0 1 1 1 1 1
0 0 0 1 1

In [34]:
def sort_0_1(size,arr):

In [35]:
size = int(input())
arr = [int(x) for x in input().split()]
print(sort_0_1(size,arr))

7
0 1 1 0 1 0 1
[1, 0, 1, 0, 1, 0, 1]