split

In [2]:
str = "My name is Parikh"
li = str.split()
print(li)

['My', 'name', 'is', 'Parikh']

In [3]:
str = "My,name,is,Parikh"
li = str.split()
print(li)

['My,name,is,Parikh']

In [5]:
str = "My,name,is,Parikh"
li = str.split(',')
print(li)

['My', 'name', 'is', 'Parikh']

In [6]:
str = "My,name,is,Parikh"
li = str.split(',',1)
print(li)

['My', 'name,is,Parikh']

In [7]:
str = "My,name,is,Parikh"
li = str.split(',',2)
print(li)

['My', 'name', 'is,Parikh']

REplace

In [9]:
str = "My name is Parikh"
str = str.replace("Parikh","Rohan")
print(str)

My name is Rohan

In [10]:
str = "My name is Parikh"
str = str.replace("which","Rohan")
print(str)

My name is Parikh

In [11]:
str = "My name is Parikh Parikh Parikh"
str = str.replace("Parikh","Rohan")
print(str)

My name is Rohan Rohan Rohan

In [12]:
str = "My name is Parikh Parikh Parikh"
str = str.replace("Parikh","Rohan",2)
print(str)

My name is Rohan Rohan Parikh

FIND

In [16]:
str = "My name is Parikh Parikh"
index = str.find("Par")
print(index)

11

lower and upper

In [18]:
str = "My name is Parikj"
# str = str.lower()
str = str.upper()
print(str)

MY NAME IS PARIKJ

startswith

In [19]:
str = "My name is parikh"
ans = str.startswith("My na")
print(ans)

True