### print Helloworld

In [3]:
print("hello")
print("hello")
10

hello
hello

10

### variables

In [4]:
a = 10
b = 20

sum = a + b
print(sum)

30

### assigning different type of data to a variable

In [7]:
a = 'fefefefe'
type(a)

str

In [14]:
### python numbers

In [12]:
a1 = 3
a2 = 3.4
a3 = 2 + 2j
print(type(a1))
print(type(a2))
print(type(a3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [2]:
a = 10
print(id(a))
a = a + 1
print(id(a))
a

2254489545296
2254489545328

11

In [4]:
a = 1000
b = 1000
print(id(a))
print(id(b))

2254585919312
2254585919856

### input

In [14]:
a = int(input())
# b = int(a)
print(type(a))
print(a)

# b = '34'
# c = int(3.7)
# c

23
<class 'int'>
23

In [15]:
a = int(input())
b = int(input())
print(type(a))
print(type(b))
s = a+b
print(s)

23
43
<class 'int'>
<class 'int'>
66

### average marks of a student

In [18]:
m1 = int(input())
m2 = int(input())
m3 = int(input())

avg = (m1 + m2 + m3)/3
print(avg)

5
10
5
6.666666666666667

### X raised to the power N

In [19]:
x = int(input())
n = int(input())

s = x ** n
print(s)

10
4
10000

### arithemtic progression

In [21]:
a = int(input())
b = int(input())
c = int(input())

diff1 = b-a
# diff2 = c-b

print(diff1)
# print(diff2)

1
3
5
2

### area of a rectangle

In [22]:
x1 = int(input())
y1 = int(input())
x2 = int(input())
y2 = int(input())

side1 = x2 - x1
side2 = y2 - y1

area = side1 * side2
print(area)

1
1
3
3
4