# binary Pattern

11111
0000
111
00
1

N = 5

In [11]:
n = int(input())

for i in range(1,n+1,1):
    for j in range(1,n-i+2,1):
        if i % 2 == 0: 
            print('0',end = '') 
        else : 
            print('1',end = '') 
    print()

5
11111
0000
111
00
1

# print number pyramid

1234
-234
--34
---4
--34
-234
1234

N = 4

In [38]:
# print number pyramid WHILE LOOP

n = int(input())

i = 1
while(i<=n):
    # spaces
    spaces = 1
    while(spaces<=i-1):
        print('-',end='')
        spaces = spaces+1
        
    #numbers
    j = 1
    num = i
    while(j<=n-i+1):
        print(num,end='')
        j = j + 1
        num = num + 1
        
    print()
    i = i + 1
    
i = 1
while(i<n):
    #spaces 
    spaces = 1
    while(spaces<n-i):
        print("-",end='')
        spaces = spaces + 1
    #numbers
    j = 1
    num = n-i
    while(j<=i+1):
        print(num, end='')
        j = j + 1 
        num = num + 1
    
    print()
    i = i + 1

4
1234
-234
--34
---4
--34
-234
1234

In [40]:
# print number pyramid FOR LOOP

n = int(input())

for i in range(1,n+1,1):
    #spaces
    for spaces in range(1,i-1+1,1):
        print("-", end='')
        
    # numbers    
    for num in range(i,n+1,1):
        print(num, end="")
    
    print()
    
for i in range(1,n,1):
    #spaces
    for spaces in range(1,n-i,1):
        print("-",end='')
        
    #numbers
    for num in range(n-i,n+1,1):
        print(num, end="")
        
    print()

4
1234
-234
--34
---4
--34
-234
1234

# diamond of stars

--*
-***
*****
-***
--*

N = 5

In [61]:
n = int(input())
n1 = n//2+1
for i in range(1,n1+1,1):
    #spaces
    for spaces in range(1,n//2+2-i,1):
        print("-",end="")
    #stars
    for star in range(1,2*i,1):
        print("*",end="")
    
    print()

n2 = n//2
for i in range(n2,0,-1):
    #spaces
    for spaces in range(1,n1-i+1,1):
        print("-",end="")
        
    #stars
    for stars in range(1,2*i,1):
        print("*", end='')
        
    print()

5
--*
-***
*****
-***
--*

# rectangular numbers

Pattern for N = 4

4444444
4333334
4322234
4321234
4322234
4333334  
4444444

33333
32223
32123
32223
33333

N = 4

# print the pattern

Pattern for N = 5

 1    2   3    4   5
 11   12  13   14  15
 21   22  23   24  25
 16   17  18   19  20
 6    7    8   9   10